{
  "linters": {
    "**/*.+(js|jsx)": [
      "eslint --fix",
      "git add",
      "cross-env NODE_ENV=test jest --bail --findRelatedTests"
    ],
    "*.css": "stylelint",
    "*.scss": "stylelint --syntax=scss",
    "*.less": "stylelint --syntax=less",
    "**/*.+(js|jsx|ts|tsx|json|yml|yaml|css|less|scss|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ],
  },
  "ignore": ["**/build/*", "**/node_modules/*"]
}
